* {
    margin: 0;
    padding: 0;
}


.container{
    background-color: #D6E1F0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container1{
    background-color: white;
    display: flexbox;
    width: 80%;
    max-width: 400px;
    height: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
}
.container1 .qrcode img {
    /* padding: 0;
    margin: 0; */
    width: 80%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
}
.container1 .text {
    /* box-sizing: border-box; */
    padding: 10px;
    width: 80%;
    max-width: 300px;
    text-align: center;
}
.container1 .text h1 {
    font-size: 22px;
    margin-bottom: 15px;
}

.container .container1 .text p {
    font-size: 15px;
    font-weight: 100;
}